*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.nav {
    width: 40%;
    background-color: #333;
    color: white;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    /* height: 100%; */
}
.nav h1 {
    background-color: #333;
    margin: 0;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav a, .nav .dropdown {
    display: block;
    background: none;
    color: white;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
}
.nav a:hover, .nav .dropdown:hover {
    background-color: #555;
}
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #444;
}
.dropdown:hover .dropdown-content {
    max-height: 200px; /* Adjust this as needed for the content */
}
.dropdown-content a {
    padding-left: 40px; /* Indentation for dropdown links */
    display: block;
    color: white;
}
.dropdown-content a:hover {
    background-color: #666;
}
